.row {
  padding: 0;
  margin: 0;
  width: 700px;
  margin: 3px auto;
  color: #fff;
  background-color: #fff; }
  .row .col-1 {
    width: 56.33333px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-2 {
    width: 114.66667px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-3 {
    width: 173px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-4 {
    width: 231.33333px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-5 {
    width: 289.66667px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-6 {
    width: 348px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-7 {
    width: 406.33333px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-8 {
    width: 464.66667px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-9 {
    width: 523px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-10 {
    width: 581.33333px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-11 {
    width: 639.66667px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .col-12 {
    width: 698px;
    margin-left: 2px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: #ee5350;
    text-align: right;
    border-radius: 3px; }
  .row .clear-fix {
    clear: both; }
