.row {
  width: 700px;
  margin: 0 auto;
  display: flex;
  color: #fff;
  background-color: #fff; }
  .row .col-1 {
    flex: 1;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-2 {
    flex: 2;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-3 {
    flex: 3;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-4 {
    flex: 4;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-5 {
    flex: 5;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-6 {
    flex: 6;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-7 {
    flex: 7;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-8 {
    flex: 8;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-9 {
    flex: 9;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-10 {
    flex: 10;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-11 {
    flex: 11;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-12 {
    flex: 12;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    background-color: #ee5350;
    text-align: right;
    padding-right: 10px;
    margin: 2px 1px; }
  .row .col-1:first-child {
    margin-left: 0; }
  .row .col-1:last-child {
    margin-right: 0; }
  .row .col-2:first-child {
    margin-left: 0; }
  .row .col-2:last-child {
    margin-right: 0; }
  .row .col-3:first-child {
    margin-left: 0; }
  .row .col-3:last-child {
    margin-right: 0; }
  .row .col-4:first-child {
    margin-left: 0; }
  .row .col-4:last-child {
    margin-right: 0; }
  .row .col-5:first-child {
    margin-left: 0; }
  .row .col-5:last-child {
    margin-right: 0; }
  .row .col-6:first-child {
    margin-left: 0; }
  .row .col-6:last-child {
    margin-right: 0; }
  .row .col-7:first-child {
    margin-left: 0; }
  .row .col-7:last-child {
    margin-right: 0; }
  .row .col-8:first-child {
    margin-left: 0; }
  .row .col-8:last-child {
    margin-right: 0; }
  .row .col-9:first-child {
    margin-left: 0; }
  .row .col-9:last-child {
    margin-right: 0; }
  .row .col-10:first-child {
    margin-left: 0; }
  .row .col-10:last-child {
    margin-right: 0; }
  .row .col-11:first-child {
    margin-left: 0; }
  .row .col-11:last-child {
    margin-right: 0; }
  .row .col-12:first-child {
    margin-left: 0; }
  .row .col-12:last-child {
    margin-right: 0; }
